:root {
  --black: #373737; 
  --primary: #ff8e3c; 
  --white: #ffffff; 
  --grey: #848199; 
  --red: #fa513a; 
  --grey-2: #a3a3a3; 
  --bg: #f5f5fa; 
  --headline2: 600 1.75rem/normal Poppins; 
  --headline3: 600 1.25rem/1.375rem Poppins; 
  --button: 400 0.875rem/1rem Poppins; 
  --headline1: 600 3.5rem/normal Poppins; 
  --body1-regular: 400 1rem/1.5rem Poppins; 
  --body1-bold: 700 1rem/1.5rem Poppins; 
  --body2-bold: 700 0.875rem/1.5rem Poppins; 
  --body2-regular: 400 0.875rem/1.5rem Poppins; 
  --caption-regular: 400 0.75rem/1rem Poppins; 
  --caption-bold: 600 0.75rem/1rem Poppins; 
  
}
*{
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  font: var(--body1-regular);
}

body {
  color: var(--grey);
  background-color: var(--bg);
  margin: 0 auto;
  max-width: 1170px;
  
}
.cta{
  width: 100%;
  padding:12px 32px;
  font: var(--button);
  text-transform: capitalize;
  color: var(--primary);
  background-color: rgba(255, 142, 60, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  border-radius: 90px;
  border: none;
  
}
.cta.pro{
  color: var(--white);
  background: var(--black);
  box-shadow: none;

}
.cta:hover{
  letter-spacing: 1.5px;
}
.card__container{
  padding-inline: 34px;
  padding-block-start: 34px;
  padding-block-end: 28px;
}
.card__texts{
  padding-block-end: 16px;
}
.card__texts .card__title{
  text-transform: capitalize;
  color: var(--black);
  font: var(--headline2);
  margin-bottom: 8px;
}
.card__texts .subtitle{
  color: var(--grey);
  line-height: 24px;
}
section .cards{
  /* border : 2px solid red;   */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 48px;
  justify-content: center; 
  padding-block-start: 24px;
  padding-block-end: 34px;
}
.cards .card__content{
  /* border : 2px solid yellow;   */
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.card__content{
  border-radius: 26px;
  background: var(--white);
  padding: 29px;
}
.card__content.pro{
  background: var(--primary);
  box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
}
.card__content.pro p,
.card__content.pro span{
  color: var(--black);
}
.card__tendency{
  /* border : 2px solid red; */
  text-align: right;  
  margin-bottom: -7px;
 
}
.card__tendency span{
  /* border : 2px solid yellow; */
  text-transform: uppercase;
  background-color:#FFD5B6;
  padding: 6px 15px;
  border-radius: 13.5px;
  font: var(--caption-regular);
  text-align: center;
}
.card__content.pro .card__benefits p i{
  /* border : 2px solid yellow; */
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  margin-right: 8px;
  color: var(--white);
}
.card__price .price__texts{
  font: var(--headline2);
  color: var(--black);
}
.price__texts span{
  font: var(--body1-regular);
  color: var(--grey);
  line-height: 24px;
  letter-spacing: 1px;
}
.plan__title{
  text-transform: capitalize;
  font: var(--headline2);
  line-height: 42px;
  color: var(--black);
}
.plan__message{
  line-height: 24px;
}
.card__benefits{
  text-align: left;
}
.card__benefits p{
  width: 100%;
  font:var(--body2-regular);
  text-transform: capitalize;
  color: var(--grey-2);
  margin-bottom: 14px;
}
.card__benefits p i{
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 4px;
}
.card__benefits p.active{
  color: var(--black);
}
.card__benefits p.active i{
  /* border : 2px solid red; */
  text-align: center;
  font-size: 20px;
  color: var(--black);  
}



/* Media Querys */
@media screen and (min-width:850px){ 
  .card__title{
    /* border : 2px solid red; */
    font: var(--headline1);
    line-height: 130px;
  }
  .card__texts{
    padding-block-end: 80px;
  }
  section .cards{
    flex-direction: row;
    gap: 10px;
  }
  .card__content{
    margin-block-start: 50px; 
    padding-block-start: 40px;
    padding-block-end: 40px;

  }
  .card__content:nth-child(1){
    /* border : 2px solid red; */
    border-radius: 26px;
    position: relative;
    padding-block-start: 20px;
    bottom: 50px;
    order: 2;
  }
  .card__content:nth-child(4){
    /* border : 2px solid blue; */
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding-inline-end: 40px;
    order: 3;
  } 
  .card__content:nth-child(2){
    /* border : 2px solid blue; */
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    padding-inline-start: 40px;
  }
  .card__content:nth-child(2) .plan__title{
    /* border : 2px solid red; */
    padding-bottom: 16px;
  }
  .card__content:nth-child(3){
    /* border : 2px solid orange; */
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}
@media screen and (min-width:1080px) {
  section .cards{
    gap: 0px;
  }
  .cards{
    /* border : 2px solid red;     */
  } 
  .card__content{
    /* border : 2px solid red; */
    border-radius: 0px;
    padding-inline-start: 10px;
    padding-inline-end: 20px;
  }  

}

